# KMM-specific ignores
.gradle/
.idea/
*.iml

# Android-specific ignores
*/build/
*/.externalNativeBuild/
*/local.properties
*.apk

# iOS-specific ignores
*/xcodeproj/
*/xcworkspace/
*.ipa
*.xcarchive/
*.dSYM.zip

# Shared code ignores
*/build/
*/.kotlin/
*.kotlin_module
